<table class="table is-striped is-hoverable is-fullwidth project-table-style">
    <thead>
        <tr>
            <th>Name</th>
            <th>States history</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for account in institution.accounts %}
        <tr>
            <td>
                <div class="td-content">
                    {{ account.name }}
                </div>
            </td>
            <td>
                <a href="{{ url_for('state_history', account_id=account.id) }}">History</a>
            </td>
            <td>
                <a
                    href="{{ url_for('create_state_form', account_id=account.id) }}"
                    class="button is-primary">
                    Add a state
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>