{% extends "partials/base.html" %}

{% block content %}

<h1 class="title">Add a state to {{ account.name }}, from {{ account.institution.name }}</h1>

<form action="{{ url_for('state_store', account_id=account.id) }}" method="POST">

    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">

    <input type="hidden" name="account_id" value="{{ account.id }}" />

    <div class="field">
        <label for="amount">Amount</label>
        <div class="control">
            <input type="number" name="amount" placeholder="Amount" class="input">
        </div>
    </div>

    <div class="field">
        <div class="control">
            <button class="button is-primary" type="submit">Set a state</button>
        </div>
    </div>

</form>

{% endblock %}
