{% extends "partials/base.html" %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Hello Bulma!</h1>
            <h2 class="subtitle">
                A modern CSS framework based on Flexbox
            </h2>

            <div class="buttons">
                <button class="button is-primary">Primary</button>
                <button class="button is-link">Link</button>
                <button class="button is-info">Info</button>
                <button class="button is-success">Success</button>
                <button class="button is-warning">Warning</button>
                <button class="button is-danger">Danger</button>
            </div>
            <div class="notification is-primary mt-5">
                <button class="delete"></button>
                This is a primary notification with a delete button.
            </div>
            <div class="notification is-info">
                <button class="delete"></button>
                This is an info notification with a delete button.
            </div>
            <div class="notification is-success">
                <button class="delete"></button>
                This is a success notification with a delete button.
            </div>
            <div class="notification is-warning">
                <button class="delete"></button>
                This is a warning notification with a delete button.
            </div>
            <div class="notification is-danger">
                <button class="delete"></button>
                This is a danger notification with a delete button.
            </div>
            <div class="notification is-light">
                <button class="delete"></button>
                This is a light notification with a delete button.
            </div>
            <div class="notification is-dark">
                <button class="delete"></button>
                This is a dark notification with a delete button.
            </div>
            <div class="notification is-white">
                <button class="delete"></button>
                This is a white notification with a delete button.
            </div>
            <div class="notification is-black">
                <button class="delete"></button>
                This is a black notification with a delete button.
            </div>
            <div class="notification is-info">
                <button class="delete"></button>
                This is an info notification with a delete button.
            </div>
            <div class="notification is-success">
                <button class="delete"></button>
                This is a success notification with a delete button.
            </div>
            <div class="notification is-warning">
                <button class="delete"></button>
                This is a warning notification with a delete button.
            </div>


            <h1 class="title">Hello Bulma!</h1>
            <h2 class="subtitle">
                A modern CSS framework based on Flexbox
            </h2>
            
            <div class="buttons">
                <button class="button is-primary">Primary</button>
                <button class="button is-link">Link</button>
                <button class="button is-info">Info</button>
                <button class="button is-success">Success</button>
                <button class="button is-warning">Warning</button>
                <button class="button is-danger">Danger</button>
            </div>
            
            <div class="notification is-primary mt-5">
                <button class="delete"></button>
                This is a primary notification with a delete button.
            </div>
        
        </div>
    </section>
{% endblock %}
