{% extends "partials/base.html" %}

{% block content %}

<div class="container">
    <h1 class="title is-2 has-text-centered">Entity Information</h1>

    <table class="table is-striped is-hoverable is-fullwidth project-table-style">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

            {% for institution in institutions %}
            <tr>
                <td>
                    <div class="td-content">
                        {{ institution.name }}
                    </div>
                </td>
                <td>
                    <div class="td-content">
                        {{ institution.description }}
                    </div>
                </td>
                <td>
                    <div>
                        <a href="{{ url_for('institution_show', id=institution.id) }}" class="button">Institutions details ({{ get_counting_accounts(institution.accounts_counting) }})</a>
                        <a href="{{ url_for('institution_delete_confirmation', id=institution.id) }}" class="button is-danger">Delete institutuion</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>

{% endblock %}